.the-video{
    height:auto;
    padding:0;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.the video video {
border-radius: 10px;
border: 1px solid  #777;
box-shadow: 0 3px 3px rgba(0, 0, 0, .7)
}

canvas {
      position: absolute
    }

h2{
    text-align: center;
}

button{
    text-align: center;
    width:120px;
    padding: 10px;
    border: none;
    background: rgb(238, 8, 8);
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

button:focus {
    outline: 0
}

