.the-video{
    width:400px;
    height:400px;
    padding:0;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.the-video video {
    width:100%;
    height:100%;
    display: block;
    border: 0 3px 3px rgba(0, 0, 0, .7);
    border-radius: 20px;
}

canvas {
      position: absolute;
    }

h2{
    text-align: center;
}

button{
    width:120px;
    padding: 10px;
    border: none;
    background: rgb(238, 8, 8);
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

button:focus {
    outline: 0
}

